* {
    margin: 0;
    padding: 0;
}
/* Color y letra general para el cuerpo */
body {
    color: #000;
    font-family: 'Roboto', sans-serif;
}



/* ESTILO HEADER */
.header {
    position: sticky;
    height: 40px;
    z-index: 200;
    top: 0px;
    background-color: white;
    display: flex;
    justify-content: space-between;
  }
  
  .header .header-logo {
    height: 100%;
    
  }
  
  .header #navbar {
    display: flex;
    gap: 10px;
    
  }
  
  .header #navbar div {
    padding: 10px 25px;
    cursor: pointer;
    
  }
  .header #navbar div:hover {
    background-color: #bf3030;
    color: white;
    border-radius: 8px;
    
  }
  
  .header #navbar div:hover a {
    color: white;
  }
  .header #navbar div a {
    text-decoration: none;
    font-weight: bold;
  
  
  }
  
/* Estructura general */
.contenedor {
    width: 90%;
    max-width: 2000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header header header "
                         "carrusel carrusel financiacion "
                         "carrusel carrusel especifico"
                         "desc-1 desc-2 especifico"
                         "desc-3 desc-4 desc-5"
                         "footer footer footer ";

}

h5,h3 {
    text-align: center;
}

.contenedor .desc-1 {
    grid-area: desc-1;
    width: 25rem;
    height: 15rem;
    background-color: white;
    list-style-position: inside;

}
.contenedor .desc-2 {
    grid-area: desc-2;
    width: 25rem;
    height: 15rem;
    background-color: white;
    list-style-position: inside;

}
.contenedor .desc-3 {
    grid-area: desc-3;
    width: 25rem;
    height: 15rem;
    background-color: white ;
    list-style-position: inside;
    
}
.contenedor .desc-4 {
    grid-area: desc-4;
    width: 25rem;
    height: 15rem;
    background-color: white;
    list-style-position: inside;
}
.contenedor .desc-5 {
    grid-area: desc-5;
    width: 25rem;
    height: 15rem;
    background-color: white;
    list-style-position: inside;
}
.contenedor .especifico {
    grid-area: especifico;
    background-color: white;
    width: 26rem;
    height: 22rem;
    box-shadow: 0px 0px 2px black;
    text-align: left;

}

.contenedor .financiacion {
    grid-area: financiacion;
    color: black ;
    background-color: beige;
    width: 20rem;
    height: 25rem;
    text-align: left;
    display: grid;
    align-items: center ;
    justify-content: center;
    padding: 3rem;
    

}
.contenedor .opciones {
    display: inline-block;
}
.contenedor .footer {
    background: #12203E;
    color: #fff;
    grid-area: footer;
    width: 100%;
    height: 25rem;

}



/* ARMADO DEL CARRUSEL ....................... */
.contenedor .carrusel {
    grid-area: carrusel;
    padding: 1rem;
    background-color: white;
    width: 25rem;
    height: 15rem;
}

/* Marca la posicion de las fotos, las pone "ocultas" */
ul.slider {
    position: relative;
    width: 750px;
    height: 500px;
    list-style: none;
}
ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: aliceblue;
    transition: opacity .5s;
    text-align: left;
    align-items: left;
    justify-content: center;

}
/* Ajusta la imagen al espacio de trabajo sin distorcionarla */
ul.slider li img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    box-shadow: 0px 0px 10px gray ;
}
ul.slider li:first-child{
    opacity: 1; /*Mostramos el primer <li>*/
}
/*Mostramos el <li> del enlace que pulsemos*/
ul.slider li:target{
    opacity: 1;
}
 /* menu para deslizar las fotos */

 .menu {
    text-align: center;
    margin: 10px;
}

.menu li{
    display: inline-flex;
    text-align: center;
    list-style:none ;
}

.menu li a{
    display: inline-block;
    padding: 10px;
    background-color: grey;
    width: 10px;
    height: 10px;
    font-size: 12px;
    border-radius: 100%;
    color: white;
    text-decoration: none;
}

/* Boton que direje al formulario de contacto */
.boton {
    border: 1px solid red; 
    padding: 10px; 
    background-color:tomato; 
    color: #ffffff; 
    text-decoration: none; 
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif; 
    border-radius: 50px; 
    box-shadow: 0px 0px 7px black ;
}
/* Estilo de letra del sector/div de financiacion */
.PRECIO {
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
}


/* ................................................................................................... */
/* Medias query */

@media screen and (max-width: 768px){
    .contenedor {
        grid-template-areas: "header header header "
                            "carrusel carrusel financiacion "
                            "descripcion descripcion descripcion"
                            "descripcion descripcion descripcion"
                            "footer footer footer ";
    }
}

        


